.SectionComponent {
  // Add light border if two white
  // sections next to each other.
  .is-white + &.is-white {
    border-top: 1px solid #f0f0f0;
    margin-top: 52px;
    @media screen and (min-width: 1024px) {
      margin-top: 84px;
    }
  }
}
